In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('mobile01/mobile01.csv')

In [3]:
df

,URL,Date,Title,Author,Content
0,topicdetail.php?f=291&t=5775819,2019-04-23 15:02,[公告] 數位銀行/電子支付「分享碼」、「折扣碼」統一集中討論處。,\n Mobile01系統服務員\n ...,\n 各位 投資理財 版的會員...
1,topicdetail.php?f=291&t=4369995,2015-05-04 8:57,金融股-長期投資交流園地,\n weber2654\n,\n\n\n\n\n\n［2019/6/10修改］\n\n股東會陸續召開，除權息時期的考量表...
2,topicdetail.php?f=291&t=5994635,2020-01-04 12:32,蝦蝦果園集中串,\n 杜師傅\n,\n 蝦皮的一個活動邀請大家互...
3,topicdetail.php?f=291&t=5861631,2019-08-02 13:51,109年3月【如果認為會影響獲利請勿進入觀看】空頭分流,\n jiangbruce888\n ...,"\n 祝大家休假愉快,今天是空..."
4,topicdetail.php?f=291&t=6151367,2020-07-27 9:19,台積電漲停..天有異象,\n 古錐阿土伯\n,\n 是福???????\n是...
...,...,...,...,...,...
29967,topicdetail.php?f=291&t=5060717,2017-02-07 21:21,有app有提供以下功能嗎?,\n blackpitduke\n ...,\n 1.開盤前與收盤前試搓跌...
29968,topicdetail.php?f=291&t=5054296,2017-01-31 9:36,請問大家.設定的日期未到.銀行可以扣款嗎?,\n choutoung\n,\n 大家好:不知這問題是在這...
29969,topicdetail.php?f=291&t=448373,2007-11-20 1:23,有人知道美安這個直銷公司嗎??,\n pjj09\n,\n 最近表哥加入了美安這個直...
29970,topicdetail.php?f=291&t=5059721,2017-02-06 21:31,買房最佳時機,\n 股市大新手\n,\n 如主題，各位認為現在是入...
29971,topicdetail.php?f=291&t=5057515,2017-02-04 12:08,"有推薦的信用卡嗎？(扣水電費,瓦斯費)",\n lms0816\n,\n 如題，請大大們推薦，謝謝...

In [4]:
from ckiptagger import data_utils, construct_dictionary, WS, POS, NER
ws = WS("./data")
pos = POS("./data")
ner = NER("./data")

In [5]:
word_sentence_list = ws(
    df['Content'][5:20],
    sentence_segmentation = True, # To consider delimiters
    segment_delimiter_set = {",", "。", ":", "?", "!", ";"}) # This is the defualt set of delimiters
    # recommend_dictionary = dictionary1, # words in this dictionary are encouraged
    # coerce_dictionary = dictionary2, # words in this dictionary are forced
#)

pos_sentence_list = pos(word_sentence_list)

entity_sentence_list = ner(word_sentence_list, pos_sentence_list)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

cut_corpus = []
for i in word_sentence_list:
    cut_corpus.append(' '.join(i))

text_cv = CountVectorizer()

td_matrix = text_cv.fit_transform(cut_corpus)

print(td_matrix.shape)

(15, 2208)

In [8]:
tfidf = TfidfTransformer()

tfidf_matrix = tfidf.fit_transform(td_matrix)

In [9]:
import pandas as pd
df = pd.DataFrame(tfidf_matrix.T.toarray(), index=text_cv.get_feature_names())

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
00,0.088639,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0
000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.047561,0.0,0.000000,0.0,0.0,0.0,0.0
001,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.022362,0.0,0.0,0.0,0.0
01,0.017728,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0
02,0.035456,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
點點頭,0.000000,0.0,0.0,0.0,0.0,0.0,0.028077,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0
黯淡,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.010335,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0
鼓勵,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.006794,0.0,0.000000,0.0,0.0,0.0,0.0
鼓舞,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.006794,0.0,0.000000,0.0,0.0,0.0,0.0
龐大,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.013589,0.0,0.000000,0.0,0.0,0.0,0.0

In [13]:
df2 = pd.DataFrame(tfidf_matrix.toarray(), columns=text_cv.get_feature_names())

In [14]:
df2

,00,000,001,01,02,04,05,07,10,100,...,黃色,黃金,黎巴,黑白,點頭,點點頭,黯淡,鼓勵,鼓舞,龐大
0,0.088639,0.000000,0.000000,0.017728,0.035456,0.017728,0.000000,0.017728,0.024906,0.000000,...,0.000000,0.33683,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.028077,0.028077,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029039,0.008974,...,0.010335,0.00000,0.000000,0.010335,0.000000,0.000000,0.010335,0.000000,0.000000,0.000000
8,0.000000,0.047561,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.066818,0.011800,...,0.000000,0.00000,0.006794,0.000000,0.000000,0.000000,0.000000,0.006794,0.006794,0.013589
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.022362,0.000000,0.000000,0.000000,0.044724,0.000000,0.047125,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [15]:
df_sum = pd.DataFrame(df.sum(axis=1))
# df_sum.sort_values(by=0)

In [16]:
df["sum"] = df.sum(axis=1)

In [17]:
df.sort_values(by = ['sum'], ascending = False)
# top 5 keywords: 交易 上升 我們 市場 台股

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,sum
交易,0.000000,0.0,0.0,0.000000,0.0,0.0,0.059169,0.014519,0.238637,0.0,0.596911,0.0,0.000000,0.0,0.000000,0.909236
上升,0.000000,0.0,0.0,0.808922,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.808922
我們,0.052580,0.0,0.0,0.000000,0.0,0.0,0.016655,0.490437,0.020152,0.0,0.013265,0.0,0.000000,0.0,0.139666,0.732755
市場,0.125437,0.0,0.0,0.000000,0.0,0.0,0.000000,0.332390,0.074298,0.0,0.028768,0.0,0.000000,0.0,0.151452,0.712346
台股,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.669583,0.0,0.000000,0.669583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
方向,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.006794,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.006794
厭煩,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.006794,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.006794
參考書,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.006794,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.006794
參與,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.006794,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.006794
脫離,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.006794,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.006794